/* http://meyerweb.com/eric/tools/css/reset/ 
	Reset Stylesheet, used to make a page behave
	nicely across all browsers and removes some
	strange defaults that certain HTML elements 
	may have.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start the code here */
/* Take the background color and border 
away from the divs once you are done */

body {
	background-color: LightGray;
    font-family: 'Roboto', sans-serif;
}
div {
	border: 1px solid Chocolate;
}

/* Navigation Section */

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */
.content {
	margin: 0 auto;
    width: 970px;
    padding: 0 15px;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    position: fixed; /* so that we see the menu when we scroll down */
    width: 100%; /* to keep the width when we use position:fixed */
    z-index: 9999;
}
.top-navigation > .content {
    height: 70px;
}
.top-navigation .logo {
    height: 70px;
}

.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;

}
.top-navigation .links li > a {
	text-decoration: none;
	color: #838994;
	transition: color 1s ease; /* smooth transition when hovering */
}

.top-navigation .links li > a:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
	background: url(../images/first-background.jpg); /* need to set path relative to the CSS file */
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938em;

}

.introduction h1, h3 {
	color: white;
	text-align: center;
}

.introduction h1 {
	margin-top: 2em;
	font-size: 3em;
}

.introduction h3 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 2em;
}

.big-button {
	display: block;
	margin: 0 auto;
	text-shadow: none;
	border-color: #f15a29;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	color: white;
	font-size: 1em;
	background-color: #f15a29;
	font-weight: bold;
}

.big-button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}
.section3 {
	width: 100%;
	height: 350px;
}
.cases {
	display: flex; /* get rid of space between blicks */
	height: 4em;
}

.cases .devices {
    width: 33.33%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
}
.cases .devices img {
	height: 157px;
	width: 157px;
}

.content2 {
	margin-top: 3em;
	margin-bottom: 1em;
	font-size: 2em;
	text-align: center;
}


.social .content li {
	list-style: none;
	display: inline;
}
.social > p {
	text-align: center;
}
.social .content li i {
	border: 1px solid #999;
	padding: 10px;
	border-radius: 1.25rem;
}

.social .copy {
	color: #838994;
}





